
/* This combined with .row changeed cols to 100% height*/
html,body, .container {
    height:100%;
}

/*combined with above changed the cols to 100%*/
.row {
    height:100%;
}

#col1a {
    text-align:right;
    background-color: rgb(231, 27, 27);
    height: 100%;
    color: rgb(247, 34, 34);
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 500%;
    padding: 50px;

}

#col1 {
    text-align:right;
    background-color: rgb(231, 27, 27);
    height: 100%;
    color: rgb(247, 34, 34);
    font-family: 'Poppins';
    font-weight: 900;
    padding: 20px;

}

#col2{
    text-align:left;
    background-color: rgb(235, 241, 243);
    height: 100%;
    color: rgb(247, 34, 34);
    font-family: 'Poppins';
    font-weight: 900;
    padding: 20px;
}

/* card styling*/
.card-text { color: rgb(247, 34, 34);;
    text-align: center;
    font-size: 20%;
}

.card-body { background-color:  rgb(180, 202, 228);

}

.card-img-top {
    height: 80%;
    width: 100%;
    align-items: center;
    font-size: 5%;
}

/* Responsive text sizing*/

html {
    font-size: 1rem;
  }
  
