.container-fluid{ background-color: rgb(224, 173, 77);
    text-align: center;
    color: rgb(207, 153, 189);
    height: 100%;
    font-family: 'Satisfy', cursive;
    font-weight: 900;
    padding: 15px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* This combined with .row changeed cols to 100% height*/
html,body,.container {
    height:100%;
}

/*combined with above changed the cols to 100%*/
.row {
    height:100%;
}

#col1 {
    text-align:right;
    background-color: rgb(231, 27, 27);
    height: 100%;
    color: rgb(247, 34, 34);
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 100%;
    padding: 50px;

}

#col2{
    text-align:left;
    background-color: rgb(235, 241, 243);
    height: 100%;
    color: rgb(247, 34, 34);
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 100%;
    padding: 50px;

}

.card-text { color: darkgrey;
    text-align: center;

}

.card {
    margin: 5px;
}


